# ----------------------
# Node / Frontend (Vite + Electron)
# ----------------------
node_modules/
release/
dist/                # build de desenvolvimento do Vite
.vite/               # cache interno do Vite
out/                 # se usar para builds de preview
*.log                # logs do npm/yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Electron
release/             # instaladores finais do Electron
*.asar               # pacotes de apps empacotados
electron-builder.json


env/
venv/
dist/
build/
*.spec 
*.egg-info/

# Arquivos sensíveis / dados
*.db                 # banco de dados
*.env                # variáveis de ambiente
*.xlsx               # planilhas locais se não quiser versionar
*.pem
*.key
*.crt
.env
# IDEs / editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Sistema
.DS_Store
Thumbs.db
